*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sf-r;
}

@font-face{src:url('../../font/SFProDisplay-Bold.ttf'); font-family: sf-b}
@font-face{src:url('../../font/SFProDisplay-Medium.ttf'); font-family: sf-m}
@font-face{src:url('../../font/SFProDisplay-Heavy.ttf'); font-family: sf-h}
@font-face{src:url('../../font/SFProDisplay-Regular.ttf'); font-family: sf-r}
@font-face{src:url('../../font/SFProDisplay-SemiBold.ttf'); font-family: sf-s}
@font-face{src:url('../../font/SFProDisplay-Thin.ttf'); font-family: sf-t}

.d-flex{display: flex;}
.fd-row{flex-direction: row;}
.fd-col{flex-direction: column;}
.f-col{flex-flow: column wrap;}
.f-row{flex-flow: row wrap}
.j-btw{justify-content: space-between;}
.j-ard{justify-content: space-around;}
.j-ctr{justify-content: center;}
.j-end{justify-content: flex-end;}
.i-ctr{align-items: center;}
.i-str{align-items: flex-start;}
.i-end{align-items: flex-end;}

.wrapper{
	width: 100%;
	height: 100vh;
	background-image: url("../images/background.png");
	background-size: cover;
	background-position: center;	
}
.bth{
	width: max-content;
	height: max-content;
	background-color: #FFF;
	margin: 20px;
	border-radius: 30px;
	text-decoration: none;
}
.bth i{
	padding: 10px;
	padding-left: 15px;
	color: #5357BB;
	text-decoration: none;
}
.bth h4{
	text-decoration: none;
	padding-right: 15px;
	font-family: sf-r;
	color: #5357BB;
	letter-spacing: 1px;
	text-decoration: none;
}
.container-profile{
	width: 40%;
	height: 75vh;
	margin: auto;
	background-color: #FFF;
	padding-top: 20px;
	border-radius: 5px;
	margin-top: 20px;
}
.img-profile{
	margin: 0 auto;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	overflow: hidden;
}
.img-profile img{
	width: 100%;
}
.profile{
	width: auto;
	height: max-content;
	border-radius: 5px;
	padding: 10px 20px;
}
hr{
	width: 100%;
	height: 2px;
	background-color: #5357BB;
	border: none;
	margin: 10px 0;
}
.profile h2{
	text-transform: uppercase;
	font-size: 15px;
	font-family: sf-b;
	margin: 10px 0;
	margin-left: 20px;
	width: 170px;
	letter-spacing: .5px;
	color: #7f8c8d;
}
.profile h3{
	font-family: sf-m;
	font-size: 13px;
	letter-spacing: 1px;
	margin: 10px 0;
	color: #5357BB;
}
.ubah
{
	width: 55%;
	height: max-content;
	margin-top: 10px;
}
.ubah a{
	text-decoration: none;
	padding: 5px 10px;
	background-color: #5357BB;
	color: #FFF;
	border-radius: 2px;
	font-size: 15px;
	font-family: sf-b;
	letter-spacing: .5px;
}