*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

body{
	font-family: sf-r;
}
@font-face{src:url('../../font/SFProDisplay-Bold.ttf'); font-family: sf-b}
@font-face{src:url('../../font/SFProDisplay-Medium.ttf'); font-family: sf-m}
@font-face{src:url('../../font/SFProDisplay-Heavy.ttf'); font-family: sf-h}
@font-face{src:url('../../font/SFProDisplay-Regular.ttf'); font-family: sf-r}
@font-face{src:url('../../font/SFProDisplay-SemiBold.ttf'); font-family: sf-s}
@font-face{src:url('../../font/SFProDisplay-Thin.ttf'); font-family: sf-t}

.d-flex{display: flex;}
.fd-row{flex-direction: row;}
.fd-col{flex-direction: column;}
.f-col{flex-flow: column wrap;}
.f-row{flex-flow: row wrap}
.j-btw{justify-content: space-between;}
.j-ard{justify-content: space-around;}
.j-ctr{justify-content: center;}
.j-end{justify-content: flex-end;}
.i-ctr{align-items: center;}
.i-str{align-items: flex-start;}
.i-end{align-items: flex-end;}

.wrapper{
	width: 100%;
	height: max-content;
	margin: auto;
	background: #EFEFEF;
}

.navbar{
	width: 100%;
	height: 60px;
	background: #F60070;
	position: fixed;
	z-index: 1000;
}
.navbar img{
	display: none;
}

.navbar ul{
	list-style: none;
	margin-right: 50px;
}

.navbar ul li{
	display: inline;
}

.navbar ul li a{
	text-decoration: none;
	line-height: 60px;
	padding: 0 15px;
	color: #FFF;
	font-family: sf-s;
	letter-spacing: 1px;
	font-size: 15px;
}

.btn-logout a{
	background-color: #FFF;
	border-radius: 2px;
	padding: 7px 15px !important;
	color: #F60070 !important;
	letter-spacing: 0 !important;
	font-family: sf-b !important;
}

.container-side{
	width: 20%;
	height: 100vh;
	background: white;
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: 9999;
}

.logo{
	width: 60%;
	height: 40px;
}

.logo img{
	width: 100%;
	margin: auto;
	margin-top: 5px;
}

.profile-user{
	width: 100%;
	height: 40vh;
	background: #F60070;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	color: white;
	padding-top: 10px;
}

.profile-user h2{
	letter-spacing: 2px;
	font-size: 15px;
	margin-top: 10px;
}

.profile-user p{
	font-size: 12px;
	letter-spacing: 1px;
	color: #F2F2F2;
}

.picture-user{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background: white;
	margin-top: 35px;
	overflow: hidden;
}

.picture-user img{
	width: 100%;
}

.menu{
	width: 90%;
	height: 50vh;
	padding: 0 5%;
	position: relative;
}

.container-menulist{
	width: 100%;
	height: max-content;
	display: flex;
}

.menu-list{
	width: 100%;
	height: 100px;
	flex: 1;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
}

.active{
	background: #F60070 !important;
	color: white !important;
	transform: scale(1.05) !important;
}

.menu-list a{
	width: 100%;
	height: 100%;
	float: left;
	text-decoration: none;
	color: #F60070;
	border-radius: 5px;
	letter-spacing: 1px;
	background: white;
	font-family: sf-r;
	font-weight: 300;
	transition: 0.2s ease;
}

.menu-list a:hover{
	background: #F60070;
	color: white;
	transform: scale(1.05);
}

.menu-list a i{
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.menu-list a h4{
	font-size: 13px;
}

.logout{
	width: 50px;
	height: 50px;
	background: #F60070;
	border-radius: 50%;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 75px;
	transition: 0.2s ease;
}

.logout a{
	float: left;
	width: 100%;
	height: 100%;
	line-height: 50px;
	border-radius: 50%;
	background: #F60070;
	text-align: center;
	text-decoration: none;
	color: white;
}

.container-data{
	margin-top: 60px;
	width: 80%;
	height: max-content;
	background: #FCFCFC;
	margin-left: 20%;
	padding: 2% 5%;
}
.container-data h1{
	padding: 10px;
	font-family: sf-m;
	letter-spacing: 1px;
	font-size: 25px;
	padding-bottom: 5px;
}
.container-data h2{
	padding: 10px;
	padding-top: 0;
	font-family: sf-s;
	letter-spacing: 1px;
	font-size: 15px;
	color: #999;
	padding-bottom: 5px;
}
.container-data hr{
	margin: 5px 10px;
	height: 3px;
	margin-bottom: 20px;
	border: none;
	background-color: #F60070;
}
.footer-sidebar{
	width: 100%;
	height: 5vh;
}
.footer-sidebar li{
	display: inline;
}
.footer-sidebar a{
	font-family: sf-s;
	text-decoration: none;
	text-align: center;
	display: inline;
	color: #B7B7B7;
	font-size: 12px;
	padding: 0 5px;
}
.footer-sidebar h5{
	color: #727272;
	font-family: sf-r;
	font-size: 12px;
	margin-top: -15px;
}
.container-dashboard{
	width: 100%;
	height: max-content;
	margin: 0 auto;
}
.dashboard-show{
	width: 350px;
	height: 150px;
	margin: 50px;
	background-color: #FFF;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);

}
.dashboard-show .dashboard-nilai{
	flex: 1;
	text-align: center;
	line-height: 130px;
	color: #FFF;
	background-color: #F60070;
	position: relative;
	z-index: 2;
	box-shadow: 4px 0px 40px rgba(246,0,112,0.3), 0 10px 10px rgba(246,0,112,0.3);

}
.dashboard-show .dashboard-text{
	flex: 2;
	text-align: center;
	line-height: 130px;
	color: #F60070;
	box-shadow: 2px 2px 10px 1px #F60070;
	position: relative;
	z-index: 1;
}
.card-siswa{
	background-color: #FFF;
	width: 25%;
	height: 50vh;
	border-radius: 10px;
	overflow-x: hidden;
	box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
	margin: 30px 3%;
}
.card-siswa .background{
	width: 100%;
	height: 40%;
	background: linear-gradient(45deg,#ed65a2,#F60070);
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	top: -50px;
	overflow: hidden;
	margin: 0 auto;
}
.avatar img{
	width: 100%;
	margin: 0 auto;
}
.profil{
	width: 100%;
	height: 20%;
	text-align: center;
	position: relative;
	top: -30px;
}
.profil h3{
	font-family: sf-b;
	letter-spacing: .5px;
	font-size: 18px;
	margin-top: 5px;
	color: #000;
}
.profil p{
	font-family: sf-r;
	font-weight: 300;
	margin-top: 5px;
	color: #939393;
	font-size: 15px;
}
.action{
	width: 100%;
	height: 30px;
	position: relative;
	margin-top: -20px;
}
.action a{
	text-decoration: none;
	font-family: sf-s;
	color: #FFF;
	line-height: 30px;
	padding: 5px 15px;
	text-align: center;
}
.action .btn-blue{
	background-color: #045DE9;
	margin: 0 5px;
	border-radius: 3px;
	text-align: center;
}
.action .btn-red{
	background-color: red;
	margin: 0 5px;
	border-radius: 3px;
	text-align: center;
}
.add-new{
	width: 91%;
	height: 50px;
	margin: 10px auto;
}
.btn-add button{
	text-decoration: none;
	color: #FFF;
	font-family: sf-s;
	letter-spacing: .5px;
	padding: 10px 15px;
	background-color: #2C1A4E;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	outline: none;
}
.btn-add a{
	padding: 0px 10px;
	text-decoration: none;
	color: #FFF;
	font-family: sf-s;
	letter-spacing: .5px;
	float: left;
	text-align: center;
	width: 100%;
	height: 100%;
	line-height: 40px;
	background-color: #2C1A4E;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	outline: none;
}

.container-pelajaran{
	width: 100%;
	height: auto;
}
.card-pelajaran{
	width: 30%;
	height: 200px;
	margin: 10px;
	border-radius: 10px;
	position: relative;
}
.card-pelajaran img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 5px;
	z-index: 1;
}
.card-pelajaran h3{
	position: relative;
	color: #FFF;
	font-family: sf-s;
	padding: 20px;
	font-size: 35px;
	z-index: 2;
	padding-bottom: 10px;
}
.card-pelajaran h4{
	position: relative;
	color: #FFF;
	z-index: 99;
	padding: 20px;
	font-family: sf-s;
	letter-spacing: .5px;
	opacity: .8;
	padding-top: 0;
	font-size: 17px;
}
.container-addSiswa{
	width: 100%;
	margin-top: 20px;
	height: max-content;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
}
.form-control{
	padding: 1% 0;
	position: relative;
}
.form-panjang{
	width: 90%;
	height: 100px;
}
.form-pendek{
	width: 45%;
	height: 100px;
}
.form-control h4{
	font-family: sf-s;
	padding-top: 20px;
	padding-left: 20px;
}

.form-control input:focus{
	border-bottom: 3px solid #F60070;
}

.form-control input::placeholder{
	font-family: sf-r;
	color: #CECECE;
}
.form-pendek input{
	width: 80% !important;
}
.form-control select{
	margin-top: 20px;
	margin-left: 20px;
	border: none;
	border-bottom: 3px solid #CECECE;
	padding: 10px 20px;
	background-color: #FCFCFC;
	outline: none;
	width: 90%;
}

.alert-err{
	width: max-content;
	padding: 10px 15px;
	height: max-content;
	position: absolute;
	background: #ff3838;
	top: 0;
	right: 5%;
	border-radius: 5px;
	text-align: center;
	color: white;
	letter-spacing: 1px;
	transition: 0.4s ease;
	opacity: 0;
}

.alert-err p{
	font-size: 12px;
}

.point-err{
	width: 10px;
	height: 10px;
	background: #ff3838;
	transform: rotate(45deg);
	position: absolute;
	right: 10px;
	bottom: -5px;
}
.container-addSiswa .add-new{
	margin-right: 12%;
}
.container-addSiswa .btn-add button{
	background: linear-gradient(50deg, #FF748B, #FE7BB0)
}

.container1{
	width: 100%;
	height: auto;
	background: white;
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(44, 26, 78,0.10), 0 10px 10px rgba(44, 26, 78,0.10);
}

.form-control{
	width: 100%;
	height: auto;
	flex: 1;
	margin: 10px;
	padding: 10px;
	position: relative;
}

.form-control>p{
	margin: 0;
	margin-bottom: 5px;
	font-size: 15px;
}

.form-control-block{
	width: 100%;
	padding: 10px;
	margin: 10px;
	position: relative;
}

.form-control-block>p{
	margin: 0;
	margin-bottom: 5px;
	font-size: 15px;
}

.form-control-block input{
	width: 95%;
	height: 25px;
	border: none;
	border-bottom: 2px solid #E9E9E9;
	padding:10px;
	outline: none;
	transition: 0.2s ease;
}

.form-control-block select{
	width: 95%;
	height: 50px;
	border: none;
	border-bottom: 2px solid #E9E9E9;
	padding:10px;
	outline: none;
	transition: 0.2s ease;
}

.form-control-block select option{
	background: #2C1A4E;
	color: white;
	border: none;
}

.form-control-block input:focus{
	border-bottom: 3px solid #F60070;
}

.form-control-block img{
	width: 30%;
}

.form-control input{
	width: 90%;
	height: 25px;
	border: none;
	border-bottom: 2px solid #E9E9E9;
	padding:10px;
	outline: none;
	transition: 0.2s ease;
}

.form-control input:focus .form-control p{
	color: #2C1A4E;
}

.btn-add{
	width: 125px;
	height: 40px;
	float: right;
	margin: 10px 0;
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(44, 26, 78,0.10), 0 10px 10px rgba(44, 26, 78,0.10);
}

.btn-add button{
	width: 100%;
	height: 100%;
	border: none;
	color: white;
	cursor: pointer;
	background: #2C1A4E;
	border-radius: 5px;
}
.container-kelas{
	width: 100%;
	height: auto;
}
.card-kelas{
	width: 30%;
	height: 150px;
	margin: 10px;
	border-radius: 5px;
	position: relative;
	background: linear-gradient(150deg, #F60070, #FE7BB0);
	box-shadow: 6px 8px 15px 1px rgba(0,0,0,0.3);
}
.card-kelas h3{
	position: relative;
	color: #FFF;
	font-family: sf-s;
	padding: 20px;
	font-size: 30px;
}
.btn-addKelas button{
	text-decoration: none;
	color: #FFF;
	font-family: sf-s;
	letter-spacing: .5px;
	padding: 10px 15px;
	background: linear-gradient(150deg, #F60070, #FE7BB0);
	border-radius: 3px;
	border: none;
	cursor: pointer;
	outline: none;
}
.btn-addKelas a{
	text-decoration: none;
	color: #FFF;
	font-family: sf-s;
	letter-spacing: .5px;
	float: left;
	text-align: center;
	width: 160px;
	height: 100%;
	line-height: 40px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #2C1A4E;
	box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.3);
}
.container-detailMapel{
	width: 100%;
	height: max-content;
}
.card-detailMapel{
	position: relative;
	width: 30%;
	height: 25vh;
	margin: 10px;
	overflow: hidden;
	border-radius: 5px;
	z-index: 1;
}
.card-detailMapel img{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.card-detailMapel h3{
	color: #FFF;
	z-index: 3;
	position: relative;
	font-family: sf-r;
	letter-spacing: 1px;
	font-size: 30px;
	text-align: center;
	line-height: 25vh;
}

.preference{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 4;
	text-align: center;
	cursor: pointer;
}

.preference i{
	font-size: 18px;
	line-height: 50px;
	color: white;
}

.container-preference{
	width: 100px;
	height: 0px;
	background: blue;
	position: absolute;
	top: 10px;
	left: -170%;
	border-radius: 5px;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s ease;
}

.visible{
	visibility: visible;
	opacity: 1;
	height: 140%;
}


.container-preference ul{
	list-style: none;
}

.container-preference ul li{
	width: 100%;
	height: 35px;
	background: white;	
}

.container-preference ul li a{
	color: black;
	float: left;
	width: 100%;
	height: 100%;
	line-height: 35px;
	background: white;
	transition: 0.2s ease;
	font-size: 14px;
}

.container-preference ul li a:hover{
	background: #E5E5E5;
}

.table-control{
	border-radius: 5px;
	overflow: hidden;
}

.table-control table{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.table-control table tr th{
	padding: 15px 5px;
	background: #F60070;
	color: white;
	letter-spacing: 1px;
	font-family: sf-t;
}

.table-control table tr td{
	padding: 15px 5px;
	text-transform: capitalize;
}

.table-control table tr:nth-child(odd){
	background: #EDEDED;
}
.table-control table tr:nth-child(even){
	background: #FFF;
}

.btn-edit{
	width: 75px;
	height: 30px;
	background: #575fcf;
	margin: auto;
	margin-bottom: 5px;
	border-radius: 5px;
}

.btn-edit a{
	line-height: 30px;
	text-decoration: none;
	width: 100%;
	height: 100%;
	float: left;
	color: white;
}

.btn-delete{
	width: 75px;
	height: 30px;
	background: #ff3f34;
	border-radius: 5px;
	margin: auto;
}

.btn-delete a{
	line-height: 30px;
	text-decoration: none;
	width: 100%;
	height: 100%;
	float: left;
	color: white;
}
.container-materi{
	width: 100%;
	height: max-content;
	background-color: #FCFCFC;
}
.container-materi table{
	width: 100%;
	border-collapse: collapse;
	background-color: red;
}
.container-detailSiswa{
	width: 80%;
	height: max-content;
	margin: 0 auto;	
}
.detailBackground{
	width: 100%;
	height: 150px;
	background-image: url(../../img/pattern/pattern1.png);
	background-size: cover;
	background-position: center;
	border-radius: 20px 20px 0 0;
}
.detailFoto{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	margin-top: -80px;
	overflow: hidden;
	z-index: 2;
}
.detailFoto img{
	width: 100%;
}
.detailDeskripsi{
	position: relative;
	margin-top: -80px;
	width: 100%;
	height: 50vh;
	background-color: #FFF;
	z-index: 1;
	padding-bottom: 10px;
	border-radius: 0 0 20px 20px;
	padding-top: 30px;
}
.formDetail{
	width: 200px;
	height: max-content;
}
.formDetail h4{
	font-family: sf-h;
	letter-spacing: .5px;
	font-size: 13px;
	text-transform: uppercase;
	color: #A093A0;
}
.formDetail h3{
	font-family: sf-s;
	font-size: 16px;
}

.kelasCapt{
	color: gray !important;
	line-height: 130px;
}

.kelas-card{
	box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
	height: 150px !important;
	text-align: center;	
}

.kelas-card i{
	color: darkgrey;
}

.kelas-card img{
	height: 100%;
} 
@media only screen and (max-width: 1280px){
	.dashboard-show{
		width: 300px;
	}
}
@media only screen and (max-width: 1024px)
{
	.dashboard-show{
		width: 200px;
		height: 100px;
	}
	.dashboard-nilai, .dashboard-text{
		line-height: 90px !important;
	}
	.dashboard-nilai h1, .dashboard-text h1{
		font-size: 18px;
	}
	.container-side{
		width: 25%;
	}
	.profile-user p{
		font-size: 12px;
		padding-top: 10px;
	}
	.menu-list{
		height: 85px;
		padding-bottom: 5px;
	}
	.menu-list a h4{
		font-size: 10px;
	}
}
@media only screen and (max-width: 600px)
{
	.container-side, .navbar ul{
		display: none;
	}
	.container-data{
		width: 100%;
		margin-top: 60px;
		margin-left: 0;
	}
	.container-dashboard{
		width: 100%;
		margin: 0 auto;
	}
	.dashboard-show{
		width: 100%;
		margin: 10px;
	}

	.menu-mobile{
		width: 100%;
	}
	.navbar img{
		display: inline!important;
		width: 150px;
		height: 30px;
		margin: 15px;
	}
	.wrapper-menu {
		margin: 20px;
		position: relative;
	  	width: 20px;
	  	height: 20px;
	  	display: flex;
	  	flex-direction: column;
	  	justify-content: space-between;
	  	cursor: pointer;
	  	transition: transform 330ms ease-out;
		z-index: 99;
	}

	.wrapper-menu.open {
	  transform: rotate(-45deg);
	}

	.line-menu {
	  background-color: #fff;
	  border-radius: 5px;
	  width: 100%;
	  height: 4px;
	  z-index: 80;
	}

	.line-menu.half {
	  	width: 50%;
		margin-left: 0;
		margin-right: 0;
	}

	.line-menu.start {
	  transition: transform 300ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	  transform-origin: right;
	}

	.open .line-menu.start {
	  transform: rotate(-90deg) translateX(3px);
	}

	.line-menu.end {
	  align-self: flex-end;
	  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	  transform-origin: left;
	}

	.open .line-menu.end {
	  transform: rotate(-90deg) translateX(-3px);
	}
}